<div div ng-controller="View4Ctrl as ctrl">
    <form ng-submit="ctrl.calc()">
        
        <select ng-model="ctrl.from">
            <option ng-repeat="from in ctrl.testArray" value="{{from.rate}}">{{from.desc}}</option>
        </select>
        <select ng-model="ctrl.to">
            <option ng-repeat="from in ctrl.testArray" value="{{from.rate}}">{{from.desc}}</option>
        </select>
        <br>
        <input type="text" style="width:8em;" placeholder="Amount" ng-model="ctrl.amount">
        <input type="text" placeholder="Result" value="{{ctrl.result}}" readonly>
        <br>
        <button class="btn btn-success">calculate</button>
    </form>
</div>